{% extends 'base.html.twig' %}

{% block title %}Modifier un proprietaire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le proprietaire<i>{{ proprietaires.nom }}</i></h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}