{% extends 'base.html.twig' %}

{% block title %}Supprimer un proprietaire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Supprimer le proprietaire <i>{{ proprietaires.nom }}</i> ?</h1>
        {{ form(formulaire) }}
        <a href="{{ path("app_proprietaires") }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}